dist
dist-*
cabal-dev
*.o
*.hi
*.hie
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*
2024/.Rhistory
2024/.Rprofile
/2024/.Rproj.user
.vscode/settings.json
2025/Input/Day1.txt
2025/Input/Day2.txt
